/*
Umit: Decided to use Flexbox here and rest of the project in trade of losing some compatibility.
*/
.App {
    /*background: #FF0000;*/
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.App-top-bar {
    /*background: #FF0000;*/
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/*
Umit: With these spatial attributes we can create a responsive square which can work when
width > height and height < width. I am not sure about rendering or painting cost for now but pretty sure it is better
than programmatically, dynamically update those attributes.
*/
.App-square {
    /*background: #0000FF;*/
    width: 90vw;
    height: 90vh;
    max-width: 90vh;
    max-height: 90vw;
    margin: auto auto;
}

.App-game-board {
    background: #DEDEDE;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.App-game-board-row {
    /*background: #0000FF;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.App-game-board-column {
    background: #FFFFFF;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-icon {
    color: #FFF;
}

.App-game-lobby {
    /*background: #DEDEDE;*/
    border: 1px solid #DEDEDE;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
}
